body {
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

p {
  margin: 0;
  padding: 0;
}

/* NAVBAR CSS STARTS */
.navbar {
  height: fit-content;
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  margin-top: 3rem;
}

.navbar img {
  height: 5rem;
  margin-left: 10rem;
}

.navbar .links a {

  font-weight: 600;
  font-size: 2rem;
  color: black;
  padding: 2rem;
  border-radius: 2rem;
  color: white;
  background-color: #8c52ff;
}

.navbar .links {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}

.navbar .links a:hover {
  background-color: #e83e8c;
  transition-duration: 1s;

  transform: scale(1.05);
}

/* NAVBAR CSS ENDS */

/* THUMBNAIL CSS STARTS */

.thumbnail {
  height: 80rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  justify-content: center;
  background-image: url(./../images/blog/header.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.headings .title {
  text-align: center;
  font-size: 8rem;
  font-weight: 600;
  color: black;
}

.headings .subtitle {
  text-align: center;
  font-weight: 500;
  font-size: 3rem;
}

.socials {
  margin-top: 5rem;
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.socials a {
  font-size: 5rem;
  color: #8c52ff;
  border-radius: 2rem;
  box-shadow: 1rem 1rem 0.1rem #8c52ff2c;
}

.socials a:hover {
  transform: scale(1.1);
  transition-duration: 1s;
  color: #e83e8c;
}

.applybtn {
  background-color: #8c52ff;
  padding: 3rem;
  border-radius: 3rem;
  width: 20rem;
  border: 0px;
  height: 5rem;
  font-size: 2rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.applybtn:hover {
  background-color: #e83e8c;
  transition-duration: 1s;
  transform: scale(1.1);
}

/* THUMBNAIL CSS ENDS */

/* ABOUT US SECTION STARTS */

.aboutus-section {
  padding: 7em 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10rem;
  /* background-color: #8c52ff; */
}

.aboutus-section .left a {
  font-size: 4rem;
  font-weight: 600;
  color: black;
  text-decoration: none;
  width: fit-content;
}

.aboutus-section .left {
  display: flex;
  flex-direction: column;
  color: black;
  gap: 3rem;
}

.aboutus-section img {
  height: 60rem;
}

.aboutus-section a:hover {
  color: #e83e8c;
}

.aboutusdetails {
  width: 70%;
  line-height: 1.8;
  font-size: 2rem;
  /* color: white; */
}

/* ABOUT US SECTION ENDS */

/* SPEAKER SECTION STARTS */

.speaker-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: white; */
  background-color: #8c52ff;
}

.speaker-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  width: 75%;
}

.speaker-box {
  /* background-color: #8c52ff; */
  background-color: white;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 2rem; */
  width: 30rem;
  height: 35rem;
  margin: 3rem;
  border-radius: 2rem;
  box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.192);
  cursor: pointer;
}

.speaker-section-heading {
  font-size: 4rem;
  text-align: center;
  padding: 3rem;
  color: black;
  font-weight: 600;
}

.speaker-box:hover {
  transform: scale(1.05);
  transition-duration: 1s;
  background-color: #e83e8c;
  color: white;
}



.speaker-box img {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
}
.name {
  font-size: 2.5rem;
  font-weight: 600;

}


.speaker-box div{
  background-color: #8c52ff;
  width: 100%;
  /* color: black; */
  color: white;
  text-align: center;
  margin-top: 2rem;
  height: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bio {
  font-size: 1.2rem;
}

/* SPEAKER SECTION ENDS */



/* BLOG SECTION STARTS */

.blogsection {
  /* background-color: #8c52ff; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  padding: 10rem;
}

.blogsection .left a {
  font-size: 4rem;
  color: black;
  text-decoration: none;
  font-weight: 600;
}

.blogsection .left {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.blogsection img {
  height: 60rem;
}

.blogsection a:hover {
  color: #e83e8c;
}

.aboutblogdetails {
  width: 70%;
  font-size: 2rem;
  line-height: 1.8;
  color: black;
}

/* BLOG SECTION ENDS */


/* TILES SECTION STARTS */

.tiles-section{
  padding: 7em 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10rem;
  /* background-color: white; */
  background-color: #8c52ff;
  flex-wrap: wrap;
}

.tiles-div {
  margin: 2rem;
  min-height: 40rem;
  background-color: white;
  padding: 4rem;
  border-radius: 1rem;
  width: 40rem;
  color: black;
  
}

.tiles-div:hover {
  background-color: #e83e8c;
  cursor: pointer;
  color: white;
  transform: scale(1.1);
  transition-duration: 1s;
}

.tiles-div h3 {
  text-align: center;
  font-size: 4rem;
  font-weight: 600;
}

.tiles-div p {
  /* color: white; */
  font-size: 1.8rem;
  font-weight: 500;
  text-align: justify;
}

/* TILES SECTION ENDS */


/* FOOTER CSS STARTS */
.footer-bar{
  display: grid;
  grid-template-columns: auto auto auto auto;
  align-items: flex-start;
  justify-content: space-around;
  padding-top: 5rem;
  padding: 10rem;
}

.footer-bar a{
  color: black;
  cursor: pointer;

}

.footer-bar a:hover{
  color: #e83e8c;
}

.footer-bar div{
  display: flex;
  flex-direction: column;
  line-height: 2;
  font-size: 1.5rem;
}

.div-heading{
  font-size: 2rem;
  font-weight: 700;
  color: #8c52ff;
  margin-bottom: 3rem;
}

.div1-top{
  margin-bottom: 2rem;
}

.footer-bar span{
  font-weight: 600;
}


.div4{
  text-align: right;
}

.div4 div{
  display: flex;
  margin-top: 3rem;
  flex-direction: row;
}

.div4 div button{
  background-color: #8c52ff;
  padding: 1rem;
  border: 0px;
  border-radius: 2rem;
  color: white;
  font-weight: 600;
  font-size: 1.8rem;
  margin-left: -5rem;
}

.div4 div input{
  padding: 1rem;
  border-radius: 2rem;
  border: 1px solid #8c52ff;
}

.div4 div button:hover{
  background-color: #e83e8c;
  transition-duration: 1s;
}

.footer-line{
  background-color: #8c52ff;
  height: 5rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 2rem;
  font-weight: 600;
  
}

.footer-line p{
  letter-spacing: 0.3rem;
  word-spacing:0.5rem;
}
/* FOOTER CSS ENDS */